.index-1 {
    order:1;
}

.index-2 {
    order:2;
}

.index-3 {
    order:3;
}

.index-4 {
    order:4;
}

.index-5 {
    order:5;
}

.menu-item-parent .label {
    font-size:11px;
}

.menu-item-parent .icon {
    height:17px;
    width:auto;
}

.bottom-nav {
    height:55px;
    padding:0px 30px;
}