/* GENERAL */

body {
    margin:0;
    padding:0;
}

/* TEXT */

.wpna-center {
    text-align:center;
}

/* GENERAL RESPONSIVE */

@media (max-width:768px) {
    .wpna-desktop-only {
        display:none !important;
    }
}

@media (min-width:768px) {
    .wpna-mobile-only {
        display:none !important;
    }
}

.wpna-hide {
    display:none;
}

/* Centerd Content CSS For All Pages */

.wpna-centered-content {
    width:100%;
    max-width:1366px;
    margin:0 auto;
    display:block;

}

@media (max-width:1366px) {
    .wpna-centered-content {
        padding:0px 50px;
    }
}

@media (max-width:1166px) {
    .wpna-centered-content {
        padding:0px 30px;
    }
}

@media (max-width:1000px) {
    .wpna-centered-content {
        padding:0px 20px;
    }
}

@media (max-width:768px) {
    .wpna-centered-content {
        padding:0px 15px;
    }
}

/* Centered Cards */

.wpna-center1000 {
    max-width:1000px;
    margin:0 auto;
}

.wpna-center900 {
    max-width:900px;
    margin:0 auto;
}

.wpna-center800 {
    max-width:800px;
    margin:0 auto;
}

.wpna-center700 {
    max-width:700px;
    margin:0 auto;
}

.wpna-center600 {
    max-width:600px;
    margin:0 auto;
}

.wpna-center500 {
    max-width:600px;
    margin:0 auto;
}

.wpna-center400 {
    max-width:400px;
    margin:0 auto;
}


/* Flex Display Classes */

.wpna-flex-row {
    display:flex;
    flex-direction: row;
}

.wpna-flex-column {
    display: flex;
    flex-direction: column;
}

.wpna-jcc {
    justify-content: center;
}

.wpna-aic {
    align-items: center;
}

.wpna-ais {
    align-items: start;
}

.wpna-jcsb {
    justify-content: space-between;
}

.wpna-jcsa {
    justify-content: space-around;
}

.wpna-flex-grow {
    flex-grow:1;
}

.wpna-g5 {
    gap:5px;
}

.wpna-g10 {
    gap:10px;
}

.wpna-g20 {
    gap:20px;
}