.wpna-logo-left {
    justify-content: start;
    padding-left:20px;
}

.wpna-logo-right {
    justify-content: end;
    padding-right:20px;
}

.wpna-logo-middle {
    justify-content: center;
}

.wpna-logo {
    width:auto;
    height:auto;
    max-height:30px;
    max-width:180px;
}

.wpna-top-nav {
    height:50px;
    padding:0px 20px;
}

.wpna-top-nav.wpna-show-logo .wpna-title {
    display:none;
}

.wpna-top-nav.wpna-show-text .wpna-logo {
    display:none;
}

.wpna-title {
    font-size:18px !important;
    font-weight:700 !important;
    margin:0;
}

.wpna-hamburger-icon {
    height:16px;
    width:auto;
}