/* GENERAL */

body {
    margin:0;
    padding:0;
}

/* TEXT */

.center {
    text-align:center;
}

/* GENERAL RESPONSIVE */

@media (max-width:768px) {
    .desktop-only {
        display:none !important;
    }
}

@media (min-width:768px) {
    .mobile-only {
        display:none !important;
    }
}

.hide {
    display:none;
}

/* Centerd Content CSS For All Pages */

.centered-content {
    width:100%;
    max-width:1366px;
    margin:0 auto;
    display:block;

}

@media (max-width:1366px) {
    .centered-content {
        padding:0px 50px;
    }
}

@media (max-width:1166px) {
    .centered-content {
        padding:0px 30px;
    }
}

@media (max-width:1000px) {
    .centered-content {
        padding:0px 20px;
    }
}

@media (max-width:768px) {
    .centered-content {
        padding:0px 15px;
    }
}

/* Centered Cards */

.center1000 {
    max-width:1000px;
    margin:0 auto;
}

.center900 {
    max-width:900px;
    margin:0 auto;
}

.center800 {
    max-width:800px;
    margin:0 auto;
}

.center700 {
    max-width:700px;
    margin:0 auto;
}

.center600 {
    max-width:600px;
    margin:0 auto;
}

.center500 {
    max-width:600px;
    margin:0 auto;
}

.center400 {
    max-width:400px;
    margin:0 auto;
}



/* breadcrumbs */

.sectorBreadcrumbs {
    display:none;
}


/* Flex Display Classes */

.flex-row {
    display:flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.ais {
    align-items: start;
}

.jcsb {
    justify-content: space-between;
}

.jcsa {
    justify-content: space-around;
}

.flex-grow {
    flex-grow:1;
}

.g5 {
    gap:5px;
}

.g10 {
    gap:10px;
}

.g20 {
    gap:20px;
}