div#wpna_settings_tabs {
    background-color: #ececec;
}
.wp-menu-image img{
  height: 20px;
}

#app_preview iframe {
    width: 350px;
    margin: 0 auto;
    display: block;
}
#wpnaSettingsForm .wp-picker-container .hidden {
    /* display: inline-block; */
}
.flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
.flex-row{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */

}

section{
    max-width:100%;
}
.wpna_settings_page_left{
  /* width: 60%
  padding: 20px 5% */
  border-right: 1.5px solid #D5D5D5;
  padding: 50px 20px;
  width:60%;
  /* flex:2; */
}
.wpna_settings_page_right{
  padding: 10px;
  /* flex:1; */
  width:40%;
}

@media (max-width:1150px) {
    .wpna_settings_page_right {
        width:30%;
    }
    .wpna_settings_page_left{
        width:70%;
    }

}

.wpna_settings_page_wrap.flex{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.flexitem{
  /* background-color: red; */
  /* width: 50vw; */
}
.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.wp-color-result-text{
    padding: 5px 10px;
    width: 100px;
    text-align: left;
}

.wp-picker-container .wp-color-result.button{
    padding: 0 0 0 40px;
}

.wp-picker-container .color-alpha{
    width: 40px !important;
}

input{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: 44px;
}

select{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: 44px;
}

textarea{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.radioInputs{
    margin-top: 15px;
    padding-left: 10px;
    margin-bottom: 30px;
}

.radioInputs fieldset label{
    margin-right: 25px;
}

h3{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.6px;
    line-height: 24px;
    margin-top: 0;
    padding-left: 10px;
}

h2{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.6px;
    line-height: 24px;
    margin: 0;
}

h4{
    margin-bottom: 8px;
    padding-left: 10px;
}

p{
    margin: 0;
    padding-left: 10px;
}

.iconPickerSection{
    align-items: center;
}

.iconPickerSection p {
    margin-right: 15px;
}

.iconPickerSection .wpnaImageUploadSection{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.iconPickerSection .wpnaImageUploadPreview{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.iconPickerSection .pushNoti_backgroundImage_remove{
    padding: 5px 20px;
}

.iconPickerSectionVertical{
    align-items: start;
    flex-direction: column;
}

.iconPickerSectionVertical .wpnaImageUploadSection{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.iconPickerSectionVertical .wpnaImageUploadPreview{
    width: 100px;
    height: 150px;
    margin-left: 15px;
    object-fit: contain;
}

.iconPickerSectionVertical .pushNoti_backgroundImage_remove{
    padding: 5px 20px;
}

.iconPickerSection.reversePicker > div{
    flex-direction: row;
}

/*
================================================================================
============================ CSS FOR BANNERS STARTS=============================
*/

.wp-core-ui .notice.is-dismissible{
    padding: 0;
}

.notice{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.notice:last-child{
    margin-bottom: 30px;
}


.notice .pluginIcon{
    flex-direction: column;
    padding: 10px;
    margin-right: 20px;
}

.notice-info .pluginIcon{
    background-color: #F4F9FA;
}

.notice-success .pluginIcon{
    background-color: #F4F9FA;
}

.notice-error .pluginIcon{
    background-color: #FEF0F2;
}

.notice .pluginIcon .wpnaNoticeIcon{
    width: 22px;
}

.notice .bannerContent{
    width: 80%;
}

.notice .bannerContent h1{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.6px;
    line-height: 24px;
}

.notice .bannerContent p{
   font-size: 13px;
   letter-spacing: -0.43px;
   line-height: 20px;
}


/*
==============================CSS FOR BANNERS ENDS==============================
================================================================================
*/

/*
================================================================================
============================ CSS FOR AUTHENTICATION STARTS======================
*/


.signin-signup-page-choose{
    margin-bottom: 30px;
}

.signin-signup-page-choose .authenticationPage{
    width: 100%;
}


/*
==============================CSS FOR AUTHENTICATION ENDS=======================
================================================================================
*/

/*
================================================================================
============================ CSS FOR GENERAL STARTS=============================
*/

.general_hideElements h2{
    margin-top: 10px;
    margin-bottom: 15px;
}
.general_hideElements .textcontent{
    margin-bottom: 30px;
}

.choose_button_with_icon a{
    font-size: 12px;
    text-decoration: none;
    color: #2270B1;
    font-weight: 500;
}

.selectorInputs > div{
    align-items: center;
}

.selectorInputs input{
    margin-right: 10px;
}

.addAnotherHideEl{
    padding-left: 10px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.4px;
    line-height: 17px;
}

.splashScreenSection, .topBarNavSection{
    margin-top: 50px;
}

.splashScreenSection h2{
    margin-bottom: 5px;
}

.splashScreenSection ul{
    list-style: disc;
    margin-left: 25px;
    font-size: 13px;
    line-height: 1.5;
}

/*
==============================CSS FOR GENERAL ENDS==============================
================================================================================
*/

/*
================================================================================
============================ CSS FOR PROMPTS STARTS=============================
*/

.propmt-tab-section{
    margin-top: 50px;
}

.promptScreenPreview{
    width: 150px;
    align-self: center;
    margin-bottom: 20px;
}

.propmt-tab-section .leftColumnContent{
    width: 90%;
}

.propmt-tab-section .previewSplash{
    width: 180px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 4px;
}

.propmt-tab-section input{
    width: 100%;
}

.propmt-tab-section input[type='radio']{
    width: auto;
}

.propmt-tab-section textarea{
    width: 100%;
    resize: none;
}

.propmtTextSections textarea{
    padding: 12px 10px;
}

.prompt_tracking{
    margin-top: 50px;
}

.propmt-tab-section h3.promptHeadingWithin{
    margin-top: 30px;
}

/*
==============================CSS FOR PROMPTS ENDS==============================
================================================================================
*/

/*
================================================================================
============================ CSS FOR Tabs STARTS================================
*/
.tab-content.inactive{
  display: none;
}

#TB_iframeContent #wpadminbar{
  display: none;
}
#general > .flex-wrap{
  display: flex;
  flex-wrap: wrap;
flex-direction: column;
min-height: 66vh;
justify-content: flex-start;
margin: 20px 0;
}
#general .flex-wrap > .flex-item{
  margin:1em 0;

}
.general_app_col1, .general_hide_header_col1, .general_topbar_navigation_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.section_heading {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin:15px 0;
}
label.inputLabel{
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
}

.itemSelectorWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.choose_button_with_icon {
    cursor: pointer;
    border: 1px solid;
    height: 2em;
    padding: 5px 10px;
    color: #72aee6;
    background: transparent;
    border-color: #72aee6;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 500;
}
.arrow_north:after {
    content: '\2197';
}
.itemSelectorWrap.topbar_backgroundColorSection {
    justify-content: space-between;
    max-width: 270px;
    flex-wrap: wrap;
}
.topbar_backgroundColorSection{
  min-height: 100px;
}
.topbar_statusbar_textColor {
  /* min-height: 250px; */
}

.topbar_bannerLogo .wpnaImageUploadPreview {
    border: 1px solid #ececec;
    width: 250px;
    height: 100px;
    object-fit: contain;
    margin-left: 0;
}
.wpnaImageUploadPreview {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  }

/* Iframe to choose elements to hide (header,footer and other)*/
iframe.test #wpadminbar{
  display: none;
}

/*
================================================================================
============================ CSS FOR Tabs ENDS==================================
*/

/*
================================================================================
============================ CSS FOR iFrame BEGINS==================================
*/

/*
================================================================================
============================ CSS FOR iFrame ENDS ==================================
*/

.splash_screen_backgroundImage_preview{
  height: 400px;
  width: 220px;
}
.splash_screen_backgroundLogo_preview{
  height: 250px;
  width: 250px;
}
section.splashScreenSection{
    width: 50%;
    align-items: center;
}
.w50p{
  width: 50%;
}
.w60p{
  width:60%;
}
.w40p{
  width:40%;
}
span.wpnaicon{
  background:transparent url("../images/WPNativeApps-Icon.png") center center no-repeat;
}
img.wpnaNoticeIcon{
  width: 40px;
  height: auto;
}
.ai-fs, .aifs{
  align-items: flex-start;
}
.jc-se{
  justify-content:space-evenly;
}
.jc-fx{
  justify-content: flex-start;
}
.jc-sb {
    justify-content: space-between;
    /* align-items: center; */
}
.flex-column.generalSettings {
    justify-content: space-between;
    height: 1980px;
    min-height: 100vh;
    align-items: flex-start;
    padding: 0 25px;
}
.topbarnav-previewsection {
  /* min-height: 300px; */
}
.wpna_settings_page_right h2{
    text-align: center;
    margin-bottom: 10px;
}
.topbarnav-previewsection .previewImages{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100px;
  width: 85%;
}
.width250{
  width: 250px;
}
.topbar_bannerLogo{
  height: 300px;
}
.ai-c {
    align-items: center;
}
.height150{
  height: 150px;
}
.bannerLogoUploadWrap .wpna_bannerLogo{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.wpna_bannerLogo_section{
  display: flex;
    flex-direction: row;
    align-items: flex-end;
}
/*
.h1{
  font-size: 22px;
  font-weight: bold;
}
.h2{
  font-size: 18px;
  font-weight: bold;
}
.h3{
  font-size: 14px;
  font-weight: bold;
} */

.navStructureVisual img {
    max-width: 320px;
}
.topNavPageSettings .wpnaImageUploadPreview {
    height: 40px;
    width: 40px;
}
.topNavOptionsParent {
    min-height: 500px;
}
.settingParent {
    padding: 20px 0;
}

.hide{
  display: none;
}


#wpna_settings_tabs .ui-tabs-nav{
    background: none;
    border: none;
    box-shadow: none;
    padding-left: 50px;
    padding-right: 0;
    border-bottom: 1.5px solid #979797 /*D5D5D5*/;
    border-radius: 0;
    line-height: inherit;
}

#wpna_settings_tabs ul li a{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.53px;
    text-align: center;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button{
    background: #DCDCDE;
    border: 1px solid #979797;
}


#wpna_settings_tabs .ui-state-default a{
    color: rgba(0,0,0,0.5);
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active,
.ui-button.ui-state-active:hover{
    background: #F1F0F0;
    color: black;
}


#wpna_settings_tabs .ui-state-active  a{
    color: black;
}


#wpna_settings_tabs a.ui-tabs-anchor:focus{
    box-shadow: none;
}

@media (max-width:1150px) {
    #wpna_settings_tabs a.ui-tabs-anchor{
        padding: 8px 10px;
        font-size: 14px;
    }

    #wpna_settings_tabs .ui-tabs-nav{ 
        padding-left:20px;
    }
}

#wpna_settings_tabs.ui-tabs .ui-tabs-nav li{
    border-radius: 0;
    margin-right: 10px;
    line-height: 20px;
}

@media (min-width:1150px) and (max-width:1300px) {
    .wpna_settings_page_right {
        width:35%;
    }
    .wpna_settings_page_left {
        width:65%;
    }
}

@media (max-width:1000px) {
    .settings-page-parent {
        flex-direction:column;
    }
    .wpna_settings_page_left, .wpna_settings_page_right {
        width:100%;
    }

    .wpna_settings_page_right {
        border-top:1px solid #CCCCCC;
    }
    .wpna_settings_page_left {
        border-right:none;
    }
}

.mt30 {
    margin-top:30px;
}

.alignmentOptions {
    gap:10px;
}

#appPreview {
    position:relative;
}

.appPreviewiFrame {
    position: relative;
    z-index:1;
}

 /*  LOAD SPINNER FOR AJAX */
 .lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #45678E;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loader{
    display: none;
}

.lds-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.85);
    z-index: 999;
    opacity: 1;
    transition: all 0.5s;
}

#appPreview .overlay.loader {
    width:320px;
    height:78vh;
    left:50%;
    margin-left:-160px;
    top:10px;
    border-radius: 28px;
}

@media (max-width:1150px) and (min-width:1000px) {
    #appPreview .overlay.loader {
        width:90%;
        height:70vh;
        left:13px;
        margin-left:unset;
        top:10px;
        border-radius: 28px;
    }   
}

@media (max-width:1000px) {
    #appPreview .overlay.loader {
        height:70vh;
    }   
}

/*======End of Flow Page Selection Area */
.endOfJourneyPageSelectionWrap{
    display: flex;
    flex-direction: column;
    
}
.endFlowUrl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100px;
    justify-content: space-evenly;
}
.dropdownWrap{
    min-width: 180px !important;
}
/*
.wpna_multiselect select {
    // styles reset, including removing the default dropdown arrow
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  
    // Stack above custom arrow
    z-index: 1;
  
    // Remove focus outline, will add on alternate element
    outline: none;
  }
  
  .wpna_multiselect .select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
  
    select,
    &::after {
      grid-area: select;
    }
  
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
  
    // Optional styles
    // remove for transparency
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  
    // Custom arrow
    &::after {
      content: "";
      justify-self: end;
      width: 0.8em;
      height: 0.5em;
      background-color: var(--select-arrow);
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }
  }
  
  // Interim solution until :focus-within has better support
  .wpna_multiselect select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
  }
  
  .wpna_multiselect select[multiple] {
    padding-right: 0;
  
    /*
     * Safari will not reveal an option
     * unless the select height has room to 
     * show all of it
     * Firefox and Chrome allow showing 
     * a partial option
     * /
    height: 7rem;
  
    option {
      white-space: normal;
  
      // Only affects Chrome
      outline-color: var(--select-focus);
    }
  }
  
  .wpna_multiselect .select-disabled {
    cursor: not-allowed;
    background-color: #eee;
    background-image: linear-gradient(to top, #ddd, #eee 33%);
  }
  
  .wpna_multiselect label {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .wpna_multiselect .select + label {
    margin-top: 2rem;
  }
  */