h1{
    font-size: 22px;
}

.video-preview{
    padding: 10px;
    /* width: 35%; */
    justify-content: center;
    align-content: center;
}

#wpcontent{
    padding-left: 0;
}

div#wpna_settings_tabs{
    padding: 0;
    border: none;
    background-color: #F1F0F0;
}

.wpna_settings_page_left{
    padding: 0;
}

.topPageSection{
   padding: 30px 40px;
}

#wpnaSettingsForm{
    padding-left: 30px;
}

.selectorInputs > div {
    align-items: center;
    min-width: 60%;
}

.textcontent{
    margin-top: 10px;
}

h2{
    padding-left: 10px;
}

.choose_button_with_icon{
    width: 155px;
}

.flex-column .previewSplash {
    width: 180px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 4px;
}

.topbarnav-previewsection .previewImages{
    margin: auto;
}

.general_hideElements h2 {
    margin-top: 10px;
    margin-bottom: 0;
}

.wpna_settings_page_left ul{
    list-style: disc;
    margin-left: 25px;
    font-size: 13px;
    line-height: 1.5;
}

.bottomBarNavSection{
    margin-top: 50px;
}

#removeHideItem {
    margin-left:10px;
}
